@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Orbitron:wght@400;700;900&family=Stick+No+Bills:wght@200;400;700&family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;500;700&family=Mulish:wght@200;300;500;700&family=Nunito:wght@300;500;700;900&family=Quicksand:wght@400;700&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Changa", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

:root {
  --main-bg-color: #d8d8d8;

  /* FONTS */
  --font-family-title: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --font-family-main: "Source Sans Pro", sans-serif;
  --title-font-size: large;
  --main-font-size: medium;
  --detail-font-size: medium;

  /* COLORS */
  --title-color: rgb(45, 45, 45);
  --main-color: rgb(191, 190, 189);
  --secondary-color: rgba(255, 255, 255, 1);
  --tertiary-color: orange;
}
